/*
.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
*/
nav li{display: inline; background-color: white;}
nav li a{color: black}
input{border-radius: 5%;}
body{
    background-color: black;
    color: rgb(153, 0, 153);

}

form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
